.section4 {
  background: url('../../Imagens/img-fundo-4-teste-programador.png') no-repeat;
  background-size: cover;
  margin: 0 -80px;
  height: 105vh;
}

.section4 h2 {
  font-size: bold;
}

.section4 h2::before {
  content: '';
  display: block;
  width: 213px;
  height: 12px;
  background: linear-gradient(to right, #e3e0ff 0%, #fff 80%);
  position: relative;
  bottom: 60px;
}

.s4-app {
  width: 40%;
  margin-left: auto;
  position: relative;
  top: 40%;
  right: 10%;
}

.apps {
  display: flex;
}

.playApp,
.clayStore {
  display: flex;
  width: 170px;
  height: 50px;
  margin-top: 40px;
  margin-right: 70px;
  padding-top: 4px;
  background-color: black;
  border-radius: 8px;
  color: var(--cor-6);
  text-align: center;
}

.playApp span,
.clayStore span {
  color: var(--cor-5);
  font-size: 18px;
}

.clayStore p {
  font-size: 14px;
  position: relative;
  left: 10px;
  top: 5px;
}

.clayStore img {
  margin: 7px 8px 0 10px;
  transform: rotate(100deg);
}

.playApp p {
  font-size: 14px;
  position: relative;
  left: 10px;
  top: 5px;
}

.playApp img {
  margin-top: 7px;
  margin-left: 7px;
}

@media (max-width: 1200px) {
  .section4 {
    height: 70vh;
  }

  .playApp p,
  .clayStore p{
    font-size: 10px;
    text-align: left;
  }

  .playApp img,
  .clayStore img {
    margin-right: -3px;
  }
}
